/BallInfo.class
/Brain.class
/FlagInfo.class
/GoalInfo.class
/Krislet.class
/LineInfo.class
/Memory.class
/ObjectInfo.class
/PlayerInfo.class
/SendCommand.class
/SensorInput.class
/SoccerParams.class
/VisualInfo.class
/JasonAgent.class
/Belief.class
/Intentions.class
